@import '../variables';

.container__contact {
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin: 10px auto 0;
  background-color: #ffffff;
}

.contact__block {
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.content__block {
  min-width: 400px;
  font-size: 15px;
  padding-left: 10px;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    font-size: 19px;
    font-weight: 600px;

    @media (max-width: 480px) {
      font-size: 18px;
      padding-right: 65px;
    }

    @media (max-width: 440px) {
      padding-right: 105px;
    }

    @media (max-width: 420px) {
      padding-right: 135px;
    }

    @media (max-width: 400px) {
      padding-right: 155px;
    }

    @media (max-width: 385px) {
      padding-right: 175px;
    }

    @media (max-width: 350px) {
      padding-right: 175px;
    }

    @media (max-width: 375px) {
      padding-right: 185px;
    }

    @media (max-width: 365px) {
      padding-right: 195px;
    }
  }

  p {
    width: 350px;
    padding-top: 10px;

    @media (max-width: 800px) {
      padding-top: 1px;
    }

    @media (max-width: 500px) {
      width: 320px;
    }

    @media (max-width: 480px) {
      width: 210px;
      font-size: 14px;
      padding-right: 20px;
    }

    @media (max-width: 440px) {
      font-size: 13px;
      padding-right: 60px;
    }

    @media (max-width: 420px) {
      padding-right: 80px;
    }

    @media (max-width: 410px) {
      min-width: 200px;
      padding-right: 89px;
    }

    @media (max-width: 400px) {
      padding-right: 100px;
    }

    @media (max-width: 420px) {
      padding-right: 105px;
    }

    @media (max-width: 400px) {
      padding-right: 115px;
    }

    @media (max-width: 390px) {
      padding-right: 120px;
    }

    @media (max-width: 380px) {
      padding-right: 125px;
    }

    @media (max-width: 370px) {
      padding-right: 135px;
    }

    @media (max-width: 360px) {
      padding-right: 145px;
    }
  }
}

.form__block {
  margin: 0 auto;
}

.name__block {
  margin-top: 25px;
  width: 100%;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }

  label {
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 16px;

    @media (max-width: 500px) {
      font-size: 14px;
    }

    @media (max-width: 480px) {
      font-size: 13px;
      margin-left: 35px;
    }
  }

  input {
    background-color: $input;
    height: 35px;
    width: 200px;
    margin-right: 10px;
    margin-left: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: normal;
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;

    @media (max-width: 500px) {
      height: 25px;
      width: 150px;
    }

    @media (max-width: 480px) {
      height: 20px;
      width: 100px;
    }
  }

  p {
    height: 25;
    color: rgb(34, 32, 32);
    padding-left: 100px;

    @media (max-width: 500px) {
      height: 20;
      font-size: 13px;
    }

    @media (max-width: 480px) {
      height: 10;
      font-size: 13px;
      padding-left: 120px;
    }
  }
}

.email__block {
  margin-top: 35px;

  @media (max-width: 480px) {
    margin-top: 10px;
    margin-left: 30px;
  }

  label {
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 16px;

    @media (max-width: 500px) {
      font-size: 14px;
    }

    @media (max-width: 480px) {
      font-size: 13px;
    }
  }

  input {
    width: 100%;
    background-color: $input;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    line-height: normal;
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;

    @media (max-width: 500px) {
      height: 25px;
      width: 150px;
      margin-left: 10px;
    }

    @media (max-width: 480px) {
      height: 20px;
      width: 100px;
    }

    @media (max-width: 440px) {
      height: 20px;
      width: 90px;
    }
  }

  p {
    height: 25;
    color: rgb(48, 43, 43);
    padding-left: 100px;

    @media (max-width: 500px) {
      font-size: 13px;
    }
  }
}

.message__block {
  margin-top: 35px;

  label {
    display: block;
    margin: 0px 0px 10px 0px;
    font-size: 16px;

    @media (max-width: 500px) {
      font-size: 15px;
    }

    @media (max-width: 480px) {
      font-size: 14px;
      margin-left: 25px;
    }
  }
}

textarea {
  width: 99%;
  background-color: $input;
  min-height: 100px;
  margin-right: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  line-height: normal;
  font-family: sans-serif;
  font-size: 14px;
  resize: vertical;
  padding: 10px;

  @media (max-width: 500px) {
    width: 79%;
    min-height: 50px;
  }

  @media (max-width: 440px) {
    width: 75%;
    min-height: 40px;
  }
  p {
    height: 30;
    color: rgb(151, 13, 13);
    padding-left: 100px;

    @media (max-width: 480px) {
      font-size: 11px;
      padding-left: 120px;
    }
  }
}

.contact__button {
  margin-top: 25px;
  height: 40px;
  width: 130px;
  border: 2px solid $black;
  background-color: #fff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease 0s;

  @media (max-width: 480px) {
    margin-top: 5px;
    height: 35px;
    width: 120px;
    font-size: 13px;
    font-weight: 400;
    margin-left: 65px;
  }

  @media (max-width: 370px) {
    margin-left: 45px;
  }

  &:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
  }

  &:disabled {
    background-color: rgb(170, 162, 162);
    color: #fff;
  }
}
