@import '../variables';

.header{
    padding-top: 10px;
    color: $black;
    text-decoration: none;

    h1 {
        
        text-align: center;
        font-size: 44px;
        font-weight: 700;
    }
}




     

    