@import '../variables';

.main-container {
  height: 500px;
  width: 800px;
}

.window {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sliderBlock {
  border-radius: 1rem;
  height: 500px;
  background-color: rgba(175, 175, 175, 0.1);
}

.carousel {
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: flex;
}

.personalSlider {
  img {
    pointer-events: none;
    margin-left: 170px;
    height: 500px;
    width: 400px;
    border-radius: 1rem;
  }
}
