@import '../variables';


.sliderBlock {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 500px;
    background-color: rgba(175,175,175,.1);
}


.personalSlider1 {
    border-radius: 10px;

    img {
        width:  400px;
        height: 500px;
    }
}
