@import './variables';
@import './components/all';

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 800px;
}
